body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #000000;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Lobster Two', cursive; }

#nav-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 75px;
  background: #FFFFFF;
  opacity: 0.9;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5); }
  #nav-bar #nav-bar-logo {
    font-family: 'Pacifico', cursive;
    margin-right: auto;
    font-size: 24px;
    margin-left: 30px; }
  #nav-bar #nav-bar-links {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #nav-bar #nav-bar-links a {
      font-family: 'Lobster Two', cursive;
      font-size: 24px;
      text-decoration: none;
      color: #000000; }
    #nav-bar #nav-bar-links a:last-child {
      margin-right: 30px; }
  #nav-bar .fa-chevron-down {
    font-size: 18px; }

.hero {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62.43%, rgba(0, 0, 0, 0)), to(#000000)), url(./images/hero-pie.jpg);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 62.43%, #000000 100%), url(./images/hero-pie.jpg);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 62.43%, #000000 100%), url(./images/hero-pie.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.43%, #000000 100%), url(./images/hero-pie.jpg);
  background-color: #cccccc;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero #hero-heading {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60vh; }

.card {
  background: #F4F7F8;
  margin: 50px 100px 0px 100px;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.25); }

.card-heading {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px; }

.first-card {
  margin: -50px 100px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .first-card .text {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .first-card .text img {
      width: 70%; }
    .first-card .text .card-description {
      text-align: center;
      font-size: 24px; }
  .first-card #first-card-image {
    -webkit-box-shadow: 0px 4px 50px #000000;
    box-shadow: 0px 4px 50px #000000;
    border-radius: 10px;
    margin-left: auto; }

.food-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .food-card .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33%; }
    .food-card .section .image {
      width: 85%;
      height: 50vh;
      -webkit-box-shadow: 0px 4px 50px #000000 !important;
      box-shadow: 0px 4px 50px #000000 !important;
      border-radius: 10px;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important; }
      .food-card .section .image#image-prawns {
        background: url(./images/prawns.jpg); }
      .food-card .section .image#image-burger {
        background: url(./images/hero-burger.jpg); }
      .food-card .section .image#image-cookies {
        background: url(./images/cookies.jpg); }
    .food-card .section .title {
      font-family: Pacifico;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 48px;
      text-align: center; }
    .food-card .section #section-title-burger {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }

.reservation-card .reservation-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #505050;
  border-style: solid solid solid solid;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  line-height: normal; }
  .reservation-card .reservation-picker .reservation-picker-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px; }
    .reservation-card .reservation-picker .reservation-picker-box:not(:last-child) {
      border-right: 2px solid #505050; }
    .reservation-card .reservation-picker .reservation-picker-box .icon {
      margin-left: 10px;
      margin-right: 10px; }
    .reservation-card .reservation-picker .reservation-picker-box .fa-chevron-down {
      margin-left: auto;
      margin-right: 10px;
      cursor: pointer; }
    .reservation-card .reservation-picker .reservation-picker-box:last-child {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #505050;
      font-family: Lobster Two;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 26px;
      color: #FFFFFF;
      cursor: pointer; }

#copyright {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  margin: 30px 0px 30px 0px;
  color: #FFFFFF;
  text-decoration: none; }
