body {
    display: flex;
    flex-direction: column;
    background-color: #f4f7f8;
    margin: 0px;
    // overflow-x: hidden;
}

.testing {
    color: red;
}

#nav-bar{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 75px;

    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);

    #nav-bar-logo{
        font-family: 'Pacifico', cursive;
        margin-right: auto;
        font-size: 24px;
        margin-left: 30px;
    }

    #nav-bar-links{

        width: 50vw;
        display: flex;
        justify-content: space-between;

        a{
            font-family: 'Lobster Two', cursive;
            font-size: 24px;
            text-decoration: none;
            color: black;
        }
    
        a:last-child{
            margin-right: 30px;
        }
    }
}



// *{border: 1px red solid;}